
/* 
Reset Style
 */

* {
    margin: 0; padding: 0; border: 0;
    font-style: normal;
    font-weight: normal;
}

ul, ol, li, dl {
    list-style: none;
}

a {
    text-decoration: none;
}

.clear-both {
    &::after {
        display: block;
        content: "";
        clear: both;
    }
}